*{
    margin: 0;
    padding: 0;
}

.usersBlock {
    margin: 20px auto auto ;
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
}

.userBlock {
    border: solid 3px black;
    margin: 5px;
    width: 220px;
}
img{
    width: 220px;
}
p{
    margin: 1px;
}
h4 {
    margin: 1px;
}

.form {
    width: 400px;
    margin: 100px auto auto;
}
